@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="text-center">
    <h3>Welcome to Mint Garage Portfolio Update Page</h3>
    <p>We have lots to offer!</p>
</div>
