@model AboutUsModel

@{
    Layout = Layout;

}
<head>
    <link rel="stylesheet" href="~/css/AboutUs.css" />
</head>

<div class="img-container">
    <img src="~/Images/construction.jpg" alt="~/Images/construction.jpg" class="img-thumbnail card-img-top" />
    <div class="img-text">
        <p>STORAGE WITH A DIFFERENCE</p>
        <p>Mint Garage Puts The Focus Back on Exceptional Service</p>
    </div>
</div>

<div class="About-CEO" style="width: 100%">
    <h1>Decades of passion & experience in Mint Garage Inc.</h1>
    <img src="~/Images/floorpic.jpg" alt="~/Images/floorpic.jpg" class="img-thumbnail card-img-top" style="width:600px" ;"float:right;" />
    <p>For those of you who don’t know me well, I am an extremely organized person. Those of you who do know me well would say, “extremely” is an understatement! I would simply say that I am passionate about knowing where things are when I need them and things just look better when they are in order, wouldn’t you agree?</p>
</div>

<div class="about-section">
    <h1>Transforming Inspiring Spaces</h1>
    <p>
        Are you tired of getting home from work and having to get out of your car to move things out of the way in your garage before you can park inside? Are you frustrated by being the only one who “knows” where things go in your garage? Isn’t it time you made a permanent and professional overhaul to of the most underutilized spaces in your home? LET US HELP!
        At Mint Garage we’ll transform your space into a stylish, organized, and clean area of your home that will make you wonder how you ever lived without us!
        Browse our website, like us on Facebook, follow us on Twitter and Instagram! Get some ideas about what you want your garage to look like – then contact us for a complimentary consultation and we’ll make your dream a reality!
    </p>

</div>

<div class="values-container">
    <h2 style="text-align:center">Our Core Values</h2>
    <p style="text-align:center">At Mint Garage we believe in transforming spaces to the needs, desires and wants of our clients. Making sure no 2 garages are a like.</p>

    <img src="~/Images/HomeAbout.png" alt="~/Images/HomeAbout.png" style="width:200px">
    <img src="~/Images/gear.png" alt="~/Images/gear.png" style="width:200px">
    <img src="~/Images/group.png" alt="~/Images/group.png" style="width:200px">
    <img src="~/Images/light.png" alt="~/Images/light.png" style="width:200px">
</div>

    <h2 style="text-align:center">Meet Our Team</h2>
<p style="text-align:center">Our team consists of highly qualified, experienced and knowledgeable professionals who are dedicated to help our customers in any tranforming or storage projects!</p>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
            </div>
        </div>
    </div>

</div>

