@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h3>Welcome to Mint Garage Home Page</h3>
    <p>We have lots to offer!</p>

    <div class="img-container">
        <p>Image goes here</p>
        <p>Consultation button goes here</p>
    </div>

    <div class="flex-card-container">
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Image goes here</p>
                    <p>Card 1</p>
                </div>
                <div class="card-back">
                    <h4>Card 1</h4>
                    <p>Description</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Image goes here</p>
                    <p>Card 2</p>
                </div>
                <div class="card-back">
                    <h4>Card 2</h4>
                    <p>Description</p>
                </div>
            </div>
        </div>        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <p>Image goes here</p>
                    <p>Card 3</p>
                </div>
                <div class="card-back">
                    <h4>Card 3</h4>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews-contaiiner">
        <p>Reviews</p>
    </div>

    <div class="suppliers-container">
        <p>Trusted Suppliers</p>
    </div>
</div>
