@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h3>Welcome to Mint Garage Privacy Page</h3>
    <p>Sheridan College Mint Garage Team</p>
</div>

