@{
    ViewData["Title"] = "Mint Garage Admin Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .sidenav-align {
            margin-left: 100px;
        }
    </style>
</head>

<body>
    <h3 class="sidenav-align">Welcome to Mint Garage Admin Page</h3>
    <p class="sidenav-align">Sheridan College Mint Garage Team</p>

</body>

</html>