/** {
    box-sizing: border-box;
}
*/

.img-comp-container {
    position: relative;
    height: 200px; /*should be the same height as the images*/
    margin: 50px 25px;
    float: left;
    width: 300px;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

    .img-comp-img img {
        display: block;
        vertical-align: middle;
        width: 300px;
        height: 200px;
    }

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.6;
    border-radius: 50%;
}

.img-gallery {
    margin-bottom: 600px;
}
