/** {
    box-sizing: border-box;
}
*/

.img-comp-container {
    position: relative;
    height: 350px; /*should be the same height as the images*/
    margin: 20px 35px;
    float: left;
    width: 480px;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
    vertical-align: middle;
    width: 480px;
    height: 350px;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.6;
    border-radius: 50%;
}

