/* Image container */
.img-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

    .img-container img {
        width: 100%;
    }

    /* Image text */
    .img-container .img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 28px;
        width: 100%;
    }

        .img-container .img-text p {
            background: rgba(0, 0, 0, 0.5);
            margin: 30px 200px;
            font-weight: bold;
        }

        .img-container .img-text .text-title {
            font-size: 44px;
        }

        .img-container .img-text .text-slogan {
            font-size: 28px;
        }

    .img-container .img-test .img-btn {
        position: absolute;
        top: 30%;
        left: 50%;
        background-color: #555;
        color: white;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

        .img-container .img-test .img-btn:hover {
            background-color: dimgray;
        }

/* Card container */
.flex-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .flex-card-container > * + * {
        margin-left: 5%;
    }


.flip-card {
    transition: 0.15s;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card-front {
    background-color: #F5F5F5;
    color: black;
}

    .card-front img {
        height: 50px;
        width: 50px;
        margin-top: 25px;
    }

    .card-front h4 {
        padding-top: 10px;
    }

/* Style the back side */
.card-back {
    background-color: #28A745;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
}

    .card-back h4 {
        padding-top: 10px;
        color: black;
    }

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
    margin-top: 50px;
}

    .slideshow-container h2 {
        text-align: center;
        padding-top: 25px;
    }

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 5px;
    background: #ddd;
    margin-bottom: 50px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    /* Add a background color to the active dot/circle */
    .active, .dot:hover {
        background-color: #717171;
    }

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

/* Add a blue color to the author */
.author {
    color: cornflowerblue;
}

/* Suppliers */
.supplier-text {
    text-align: center;
}

.supplier-container {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.supplier-image {
    display: table-cell;
    vertical-align: top;
}

    .supplier-image img {
        display: block;
        width: 200px;
        height: 250px;
    }

.img-thumbnail {
    border: none;
    border-radius: 0px;
}
