@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/adminLayout.css" />

</head>

@section sidemenu{

    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar bg-success">
                <ul class="nav nav-sidebar bg-success">
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="Home" asp-action="Update">Home</a>
                    </li>
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="ConsultationForms" asp-action="Update">Consultation</a>
                    </li>
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="Gallery" asp-action="Update">Gallery</a>
                    </li>
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="Partners" asp-action="Update">Partners</a>
                    </li>
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="AboutUs" asp-action="Update">About Us</a>
                    </li>
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="Footer" asp-action="Update">Footer</a>
                    </li>
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="Account" asp-action="Update">Change Password</a>
                    </li>
                    <li>
                        <a class=" nav-link text-white font-weight-bold" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 main pt-5">
                @RenderBody()
            </div>
        </div>

    </div>


    </body>
}

    </html>
