<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MintConstruction</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   @* <div class=" container bg-success text-white">
        <div>
            <h3 class="m-3">Mint Garage</h3>
        </div>

        <nav class="nav border-bottom text-center  mb-5">
                <a asp-controller="Home" asp-action="Index" class="h6 text-white font-weight-bold">Home</a> &nbsp;&nbsp;
                <a asp-controller="ConsultationForms" asp-action="Create" class="h6 text-white font-weight-bold">Consultation</a> &nbsp;&nbsp;
                <a asp-controller="Product" asp-action="Index" class="h6 text-white font-weight-bold">Products</a> &nbsp;&nbsp;
                <a asp-controller="Portfolio" asp-action="Index" class="h6 text-white font-weight-bold">Portfolio</a> &nbsp;&nbsp;
                <a asp-controller="AboutUs" asp-action="Index" class="h6 text-white font-weight-bold">About Us</a>
        </nav>
    </div>*@
   

     <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-success border-bottom box-shadow mb-3">
                <div class="container">

                    <a class="navbar-brand text-white font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index">Mint Construction</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-flex justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a  class=" nav-link text-white font-weight-bold" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a  class=" nav-link text-white font-weight-bold" asp-controller="ConsultationForms" asp-action="Create">Consultation</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold"  asp-controller="Product" asp-action="Index">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold" asp-controller="Portfolio" asp-action="Index">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class=" nav-link text-white font-weight-bold" asp-controller="AboutUs" asp-action="Index">About Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-center footer bg-success text-white">
        <div class="container-fluid">
            &copy; 2021 - MintConstruction - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="h6 text-white font-weight-bold">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
