@model IEnumerable<Gallery>

@{
    ViewData["Title"] = "Index";
}

<!--Change button to text and add styling-->
<div class="img-container">
    <img src="~/Images/construction.jpg" alt="construction.jpg" class="img-thumbnail card-img-top" />
    <div class="img-text">
        <p class="text-title">IT'S TIME TO MINT YOUR GARAGE!</p>
        <p class="text-slogan">Inspired by Modern Living & Cutting-Edge Construction Techniques</p>
    </div>
</div>

<div class="">
    @foreach (var item in Model)
    {
        <div class="img-comp-container">
            <div class="img-comp-img">
                <img src="~/Images/@item.AfterImage" alt="@item.AfterImage" />
            </div>
            <div class="img-comp-img img-comp-overlay">
                <img src="~/Images/@item.BeforeImage" alt="@item.BeforeImage" />
            </div>
        </div>
    }
</div>

