@model Account

@{
    ViewData["Title"] = "Login";
}


    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-white text-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div>
                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-dark-50 mb-4">Please enter your login and password!</p>
                        <div class=" small mb-4">
                            <div asp-validation-summary="All" class="text-danger text-left six"></div>
                        </div>
                        <form asp-action="Login" method="post">
                            <div class="form-dark mb-4">
                                <i class="bi bi-person-fill icon"></i>
                                <input asp-for="Username" placeholder="Username" class="login-form-control" />
                            </div>

                            <div class=" form-dark mb-4">
                                <i class="bi bi-lock-fill = icon"></i>
                                <input asp-for="Password" placeholder="Password" class="login-form-control" />
                            </div>

                            <p class="small mb-5 pb-lg-2"><a class="text-dark-50" href="#!">Forgot password?</a></p>

                            <div>
                                <input type="submit" value="Submit" class="btn login-btn"/>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
